<html>

<head>
    <style>
        table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100px;
        }

        td,
        th {
            border: 1px solid white;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>
    <h3 style="text-align: center;">Caffe manageent system</h3>
    <table>
        <tr>
            <th>Name :<%= name%>
            </th>
            <th>Email :<%= email%>
            </th>
        </tr>
        <tr>
            <th>contactnumber :<%= contactnumber%>
            </th>
            <th>paymentMethod :<%= paymentMethod%>
            </th>
        </tr>
    </table>

    <h3>product Details</h3>
    <table>
        <tr>
            <th>name</th>
            <th>category</th>
            <th>quantity</th>
            <th>price</th>
            <th>subtotal</th>
        </tr>

        <% if(productDetils.length>0)¨{ %>
            <% productDetils.forEach(product=>{%>
                <tr>
                    <td>
                        <%= product.name %>
                    </td>
                    <td>
                        <%= product.category %>
                    </td>
                    <td>
                        <%= product.quantity %>
                    </td>
                    <td>
                        <%= product.proce %>
                    </td>
                    <td>
                        <%= product.subtotal %>
                    </td>
                </tr>
                <%});%>
                    <%}%>
    </table>
    <h3>total :<%= totalAmount %>
    </h3>
    <h3>thank you visiting. plese visit again</h3>
</body>

</html>